
.icon-user:before { content: '\e800'; } /* '' */
.icon-home:before { content: '\e801'; } /* '' */
.icon-edit:before { content: '\e802'; } /* '' */
.icon-settings:before { content: '\e803'; } /* '' */
.icon-light:before { content: '\e804'; } /* '' */
.icon-logout:before { content: '\e805'; } /* '' */
.icon-temperatire:before { content: '\e806'; } /* '' */
.icon-left-big:before { content: '\e807'; } /* '' */
.icon-blinds:before { content: '\e808'; } /* '' */
.icon-right-big:before { content: '\e809'; } /* '' */
.icon-pause:before { content: '\e80a'; } /* '' */
.icon-stop:before { content: '\e80b'; } /* '' */
.icon-play:before { content: '\e80c'; } /* '' */