<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AIN</title>
    <script src="./js/jquery.js"></script>
    <script src="./js/GUI.js"></script>
    <script src="./js/KontrolaGUI.js"></script>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/fontello.css">
</head>
<body>
    <div class="background-container"></div>
    <div id="msgWindow">ERROR</div>
    <div id="contener">
        <div id="visualization">
            <div class="multirunNhide">
                <div id="kwadraty"></div>
                <div class="wiersz">
                    <div id="nav" >
                        <div id="left" class="viz_button"><i class="icon-left-big"></i></div>
                        <div id="play" class="viz_button"><i class="icon-play"></i></div>
                        <div id="number" class="viz_button"><input type="number" id="viz_number" value="0" min="0"></div>
                        <div id="stop" class="viz_button"><i class="icon-pause"></i></div>
                        <div id="right" class="viz_button"><i class="icon-right-big"></i></div>
                    </div>
                </div>
                <div id="ustawienia_wiz">
                    <div class="wiersz">Speed: <input id="speed" type="number" step="10" min="10" max = "1000000000" value="100">(ms)</div>
                    <div id="savePNG"><button id="savePngButt">Save to PNG</button></div>
                </div>
            </div>
        </div>
        <div id="init_data">
            <div class="wiersz">N: <input id="wymiar" name="wymiar" type="number" min="2" max="100" value="10"><button id="setSize">Ustaw</button></div>
            <div class="wiersz">Max iteration number: <input id="iteracji" name="iteracji" type="number" min="1" value="100"></div>
            <div class="wiersz">Seed: <input id="seed" name="seed" type="number" min = "0" value="1"> <button id="seed_rand">random</button></div>
            <!-- <div class="wiersz">Seed: <input id="seed" name="seed" type="number" min = "0" value="1"> <label><input id="seed_rand" type ="checkbox" title="random"> random</label></div> -->
            <div class="wiersz"><label >Set cells manual<input id="manual" type ="checkbox" title="Set cells manual" class="multirunNhide"></label></div>
            <div class="wiersz">Algorithm: 
                <select name="sym_type" id="sym_type">
                    <option value="0">Game of Life</option>
                    <option value="1">Kaleidoscope of Life</option>
                    <option value="2">Competition for living space</option>
                </select>
            </div>
            <!-- <div class="wiersz"><h3>Probability</h3></div> -->
            <div class="wiersz">Probability to be alive: <input name="life" id="life" type="number" step="0.01" min="0" max="1" value="0.2"></div>
            <div class="wiersz sym_type_hide">Probability to become Game of Life: <input name="GoLLife" id="GoLLife" type="number" step="0.01" min="0" max="1"  value="0.5"></div>
            <div class="wiersz sym_type_hide">Probability to become Kaleidoscope of Life: <span id="KOL_proc"></span></div>
            <div class="wiersz"><label><input id="multirun" type="checkbox" title="multirun">Multirun</label></div>
            <div class="multirunhide">How many: <input id="multirun_num" type="number" min="2" value="2"></div>
            <div class="wiersz"><button id="start">START</button></div>
        </div>
    </div>
</body>
</html>